<div class='footer'>
  <div class='footer-message'>
    <h3 class='statement'>
          ２０歳未満の飲酒は法律で禁止されています。
          <p class='statement-message'>
            飲酒は２０歳になってから。
          <br>
             飲酒運転は法律で禁止されています。
          <br>
             妊娠中や、授乳期の飲酒はお控えください。
          </p>
        </h3>
    </div>
  </div>
</div>