<%= render "devise/shared/header" %>

<%= render "devise/shared/footer" %>

<span id="back">
    <a href="">
      <%= image_tag 'top_btn.png', data: {"turbolinks"=>false}, class: "arrow" %>
    </a>
</span>